/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Base styles for mobile */
body {
    font-family: Arial, sans-serif;
    background-color: #eef7ed;
    color: #0b300d;
    line-height: 1.5;
}

/* Profile Header Block */
.profile__header {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
    background-color: #f0e1d3;
    padding: 15px;
}

.profile__avatar {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
}

.profile__info {
    flex: 1;
}

.profile__username {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.profile__bio {
    font-size: 1rm;
    color: #666;
    margin-bottom: 10px;
}

.profile__button {
    padding: 10px 20px;
    background-color: #9fb1c4;
    color: #eef7ed;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.profile__button:hover {
    background-color: #f0e1d3;
    color: #0b300d;
}

/* Gallery Block */
.profile__gallery {
}

.profile__gallery__title {
    font-size: 1.2rem;
    padding: 0 50px 10px;
    font-weight: lighter;
}

.profile__gallery__grid {
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(auto-fill);
    padding: 1em 2em 2em;
}

.profile__gallery__image {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}
